<tr id="<%= dom_id dissertation %>" class="align-middle">
  <td class="text-center align-middle">
    <%= dissertation.year %>
  </td>
  <td class="text-center align-middle">
    <%= dissertation.name %>
  </td>
  <td class="text-center align-middle">
    <%= dissertation.title&.html_safe %>
  </td>
  <td class="text-center align-middle">
    <%= dissertation.link %>
  </td>
  <td class="text-center align-middle">
    <%= dissertation.evaluations %>
  </td>
</tr>
